@charset "UTF-8";
body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

h1, h2 {
    color: #333;
}

form {
    margin: 20px auto;
    padding: 20px;
    background: white;
    width: 300px;
    border-radius: 10px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    
}
a{
	text-decoration:none;
}
th {
    background-color: green;
    color: white;
}

